<% include ./partials/header %>
    <div class="ui main  text container segment">
        <div class="ui huge header">
            <%=blog.title.toUpperCase()%>
        </div>
        <div class="ui top attached">
            <div class="item">
                <image class="ui centered top image" src="<%=blog.image %>">

                    <div class "content">
                        <span>  <%=blog.created.toDateString()%>   </span>
                    </div>
                    <div class="description">
                        <p>
                            <%- blog.body %>
                        </p>
                    </div>
            </div>
        </div>







        <% include ./partials/footer %>